html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 110vh;
}


body {
  background: url('https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg?size=626&ext=jpg&ga=GA1.1.1412446893.1705017600&semt=ais');
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.app{
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 200px;
  padding: 15px;
}

.card-container {
  min-height: 200px;
  width: auto;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;
}


