body {
    text-align: center;
    color: #333333;
    margin: 0 auto;
    font-family: Georgia, serif;
}
.articolo {
    margin: auto;
    width: 50%;
    text-align: left;

  }

#logo {
    width: 200px;
    margin: 1rem 0;
  }
#intestazionelogo {
    font-size: 0.8rem;
    margin-bottom: 4rem;
    background-color: #fdfbf1;
    color: #004D4C;
    border-top: solid 1px;
    border-color: rgb(255, 212, 104);
    padding: 1.5px;
}

h1{
    text-align: center;
    margin-bottom:25px;
}

#focaccia {
    width: 100%;
    border-radius: 15px;
    box-shadow: 10px 10px 12px #E0E4E7;    
}
figcaption {
    text-align: center;
    margin-top: 10pt;
    color:#979797;
}
#featured {
    border-left:1.5px solid rgb(255, 212, 104);
    color: #B5450E;
    padding-left: 15px;
    font-weight: lighter;
}

a {
    color:#0E7676;
}
h2 { 
    border-bottom:1px solid #BDF2F0;
    padding-bottom: 20px;
    font-weight: lighter;
}
aside {
    text-align: left;
    margin: 0 auto;
    width: 50%;
}

ul {
    margin-bottom: 2rem;
  }
  
li {
    margin-bottom: 1rem;
  }
