/* BODY */
html {
    font-size: 62.5%;
}

body {
    display: block;
    margin: 0;
    padding: 1.5rem;
    background-image: url(/assets/images/sfondo.png);
    background-position: center;
    font-family: Poppins, 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;  
}
h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

h2 {
    text-align: center;
    margin-top: 2rem;
}

a {
    color: #00A0C6;
    font-weight: bold;
}

b {
    color:#A02571
}
/* HEADER*/

header {
    background-image: linear-gradient(to bottom, #00A0C6, #036D86);
    text-align: center;
    font-weight: bold;
    color: white;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 2px #444;
}

header img {
    width: 200px;

}

#menu li {
    list-style: none;
}

#menu li::before {
    content: '\22c6\0020';
}

#menu ol li a:hover {
    color: red;
}

#menu a {
    text-decoration: none;
    color: white;
}

/* MAIN */
main {
    background-color: #FFFFFF;
    text-align: left;
    box-shadow: 0 4px 4px#444;
    padding: 1.5rem 1.5rem;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
}

article span{
    color: #A0A0A0;
}

code {
    background-color: #e3e3e3;
    border: 1px solid #969494;
    border-radius: 0.5rem;
    font-family: Poppins, 'Helvetica Neue', sans-serif;
}

ul,ol {
    margin-left: -1rem;
}


/* TABLE */

table caption {
    font-style: italic;
    font-weight: bold;
}

table {
    margin-bottom: 2em;
    border-collapse: collapse;
    font-weight: lighter;
}

thead tr {
    background-color: #3f6bca;
    color: white;
}

tbody tr:last-child {
    border-bottom: 2px solid #3f6bca;
}

th, td {
    text-align: center;
    padding: 12px 15px;
    font-weight: normal;
}

tbody tr {
    border-bottom: 1px solid white;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


/* VIDEO */

iframe {
    border-radius: 20px;
    width: 100%;
    border: none;
}


/* NOVITA' */
section {
    background-color: #E3E3E3;
    padding: 0.1rem 1rem 1.2rem 1rem;
    margin-top: 3rem;
    
}

input {
    padding: 0.5rem;
    border:none;
    border-bottom: 0.1px dashed;
}
button {
    background-color: #3F6BCA;
    color: white;
    font-weight: bold;
    border: none;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
}


/* ASIDE */
aside {
    margin-top: 3rem;
}

aside div {
    background-color: #E3E3E3;
    border: 1px solid #C3C3C3;
    padding: 2.5rem 1.5rem 1rem 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 0.5px;
}

aside div p:last-child{
    text-align: right;
    font-size: 11px;
}

/* FOOTER */
footer {
    background-image: linear-gradient(to top, #343636,#055567);
    color: white;
    text-align: center;
    padding-top: 0.1rem;
    padding-bottom: 3rem;
    font-size: 1.2rem;
    box-shadow: 0 4px 4px #444;
}

footer a {
    color: #FF06F4;
}

address {
    font-style: normal;
}

